---
---
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

// colours
$red: #CE1836;
$red-opaque: rgba($red, 0.3);
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);

$orange: #CE8e18;
$orange-opaque: rgba($orange, 0.3);
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);

$yellow: #EDB92E;
$yellow-opaque: rgba($yellow, 0.3);
$yellow-light: lighten($yellow, 10%);
$yellow-dark: darken($yellow, 10%);

$green: #A3A948;
$green-opaque: rgba($green, 0.3);
$green-light: lighten($green, 20%);
$green-dark: darkenr($green, 10%);

$blue: #4876a8;
$blue-opaque: rgba($blue, 0.3);
$blue-light: lighten($blue, 20%);
$blue-dark: darkenr($blue, 10%);

$purple: #009989;
$purple-opaque: rgba($purple, 0.3);
$purple-light: lighten($purple, 10%);
$purple-dark: darken($purple, 10%);

// fonts
$sans: 'Open Sans', sans-serif;
$serif: 'Bitter', serif;

body {
  font-family: $sans;
  color: #4a4a4a;
  &.story-page, &.about-page {
    background-color: #e5e4e4;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  } 
}

h1, h2, h3, h4, h5 {
  font-family: $serif;
  color: #4a4a4a;
}

#front-overlay {
  text-decoration: none;
  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  background-image: url("/img/output.jpg");
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  .title, .read-more, .subtitle {
    color: #fff;
    text-align: center;
  }
  .title {
    margin-top: 10%;
    margin-bottom: 15px;
    font-family: $serif;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 1);
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 45px;
      line-height: 45px;
    }
    @media (max-width: 550px) {
      font-size: 28px;
      line-height: 28px;
    }
  }
  .subtitle {
    font-family: $serif;
    font-size: 20px;
    line-height: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .read-more {
    font-size: 25px;
    font-family: $sans;
    font-weight: bold;
    margin-top: 40px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgba(255,0,0,0.45);
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px #ccc;
  .glyphicon {
    padding-right: 10px;  
  }
  .navbar-brand {
    font-family: $serif;
  }
  li {
    border-bottom: 3px solid #ccc;
    &:nth-of-type(1n) {
      border-bottom-color: $red;
    }
    &:nth-of-type(2n) {
      border-bottom-color: $orange;
    }
    &:nth-of-type(3n) {
      border-bottom-color: $yellow;
    }
    &:nth-of-type(4n) {
      border-bottom-color: $green;
    }
    &:nth-of-type(5n) {
      border-bottom-color: $blue;
    }
    &:nth-of-type(6n) {
      border-bottom-color: $purple;
    }
    a {
      font-weight: bold;
      font-size: 13px;
    }
  }
}

.navbar-margin {
  margin-top: 53px;
}

.sidebar {
  padding: 15px 5%;
}

@media (min-width: 992px) {
  .sidebar {
    position: absolute;
    padding: 10px 30px;
    right: 0;
    width: 48%;
    height: calc(100vh - 53px);
    background-color: #fafafa;
    box-shadow: -3px 0px 2px -1px #bbb;
    overflow: scroll;
    overflow-x: hidden;
    ul li {
      margin-bottom: 20px;
    }
    .main {
      text-align: center;
      margin-bottom: 20px;
    }
    .sub {
      margin-bottom: 15px;
    }
  }
}

#map {
	max-height: calc(100vh - 53px);
	max-width: 100vw;
  margin-left: -50px;
  a {
    &:hover {
      text-decoration: none;
      fill-opacity: 1 !important;
      opacity: 1 !important;
    }
  }
}

.container {
  &.story, &.about, &.footer {
    @media (min-width: 992px) {
      width: 700px !important;
    }
    @media (min-width: 1200px) {
      width: 700px !important;
    }
  }
}

.container {
  &.story, &.about {
    padding-bottom: 50px;
  }
}

.story {
  &.container {
    background-color: #fff;
  }
  .content {
    @media (min-width: 992px) {
    }
    border-left-color: $red;
  }
  .links {
    img {
      width: 100%;
    }
    .info {
      padding: 10px;
      background-color: #efefef;
      min-height: 230px;
      margin-bottom: 40px;
      .title, .author {
        padding-bottom: 15px;
      }
      .date, .paper {
        color: #666;
      }
      .title {
        font-size: 18px;
      }
    }
  }
  .unhide {
    cursor: pointer;
    font-weight: bold;
  }
  .page-share {
    margin-top: -5px;
    img {
      height: 13px;
      width: 13px;
    }
    a {
      color: #fff;
      font-family: $sans;
      font-size: 10px;
      font-weight: bold;
      line-height: 13px;
      padding: 4px 8px;
      text-decoration: none;
      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #1da1f2;
      }
    }
  }
  .iframe-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 15px 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 100%;
  }
  .btn-download {
    margin-top: 20px;
    border-radius: 0;
    border: none;
  }
}

.about-page {
  .about {
    background-color: #fff;
  }
}

.partners {
  img {
    width: 100%;
  }
}

footer {
  background-color: #666;
  color: #fff;
  padding: 15px 0;
  font-size: 11px;
  a, h1, h2, h3, h4, h5 {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .contact a {
    text-decoration: underline;
  }
}