---
---
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

// colours
$united-states: #A3A948;
$united-states-opaque: rgba($united-states, 0.3);
$united-states-light: lighten($united-states, 20%);
$united-states-dark: darkenr($united-states, 10%);

$south-africa: #EDB92E;
$south-africa-opaque: rgba($south-africa, 0.3);
$south-africa-light: lighten($south-africa, 10%);
$south-africa-dark: darken($south-africa, 10%);

$mali: #009989;
$mali-opaque: rgba($mali, 0.3);
$mali-light: lighten($mali, 10%);
$mali-dark: darken($mali, 10%);

$switzerland: #CE1836;
$switzerland-opaque: rgba($switzerland, 0.3);
$switzerland-light: lighten($switzerland, 10%);
$switzerland-dark: darken($switzerland, 10%);


// fonts
$sans: 'Open Sans', sans-serif;
$serif: 'Bitter', serif;

body {
  font-family: $sans;
  color: #4a4a4a;
  &.story-page {
    background-color: #e5e4e4;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  } 
}

h1, h2, h3, h4, h5 {
  font-family: $serif;
  color: #4a4a4a;
}

#front-overlay {
  text-decoration: none;
  width: 100%;
  min-height: 100vh;
  z-index: 2000;
  background-image: url("/img/overlay.jpg");
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  .title, .read-more, .subtitle {
    color: #fff;
    text-align: center;
  }
  .title {
    margin-top: 10%;
    margin-bottom: 15px;
    font-family: $serif;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 1);
    font-weight: bold;
    @media (max-width: 768px) {
      font-size: 45px;
      line-height: 45px;
    }
    @media (max-width: 550px) {
      font-size: 28px;
      line-height: 28px;
    }
  }
  .subtitle {
    font-family: $serif;
    font-size: 20px;
    line-height: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .read-more {
    font-size: 25px;
    font-family: $sans;
    font-weight: bold;
    margin-top: 40px;
    padding: 8px 16px;
    border-top: 2px solid rgba(255,255,255,0.85);
    border-bottom: 2px solid rgba(255,255,255,0.85);
    cursor: pointer;
    background-color: rgba(0,0,0,0.45);
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px #ccc;
  .navbar-brand {
    font-family: $serif;
  }
  li {
    border-bottom: 3px solid #ccc;
    a {
      font-weight: bold;
      font-size: 13px;
    }
    &.united-states {
      border-bottom-color: $united-states;
      &:hover {
        border-bottom-color: $united-states-dark;
      }
    }
    &.south-africa {
      border-bottom-color: $south-africa;
      &:hover {
        border-bottom-color: $south-africa-dark;
      }
    }
    &.mali {
      border-bottom-color: $mali;
      &:hover {
        border-bottom-color: $mali-dark;
      }
    }
    &.switzerland {
      border-bottom-color: $switzerland;
      &:hover {
        border-bottom-color: $switzerland-dark;
      }
    }
  }
}

.navbar-margin {
  margin-top: 53px;
}

@media (min-width: 992px) {
  .sidebar {
    position: absolute;
    padding: 10px 80px 0 30px;
    right: 0;
    width: 42%;
    height: calc(100vh - 53px);
    background-color: #fafafa;
    box-shadow: -3px 0px 2px -1px #bbb;
  }
}

#map {
	max-height: calc(100vh - 53px);
	max-width: 100vw;
}

.story {
  &.container {
    background-color: #fff;
  }
  .content {
    @media (min-width: 992px) {
      padding: 0 30px;
    }
    border-left: 3px solid;
    padding-bottom: 50px;
    &.united-states {
      border-left-color: $united-states;
    }
    &.south-africa {
      border-left-color: $south-africa;
    }
    &.mali {
      border-left-color: $mali;
    }
    &.switzerland {
      border-left-color: $switzerland;
    }
  }
  .links {
    .single-link {
      background-color: #f8f8f8;
      border-left: 2px solid #e5e4e4;
      padding: 4px 8px 8px 8px;
      margin-bottom: 16px;
    }
  }
  .page-share {
    margin-top: -5px;
    img {
      height: 13px;
      width: 13px;
    }
    a {
      color: #fff;
      font-family: $sans;
      font-size: 10px;
      font-weight: bold;
      line-height: 13px;
      padding: 4px 8px;
      text-decoration: none;
      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #1da1f2;
      }
    }
  }
  .iframe-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 15px 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 100%;
  }
}

footer {
  background-color: #666;
  color: #fff;
  padding: 15px 0;
  font-size: 11px;
  a, h1, h2, h3, h4, h5 {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}