---
---
@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans');

// colours
$repeat-winners: #A3A948;
$repeat-winners-opaque: rgba($repeat-winners, 0.3);
$repeat-winners-light: lighten($repeat-winners, 20%);
$repeat-winners-dark: darken($repeat-winners, 10%);

$fraud: #EDB92E;
$fraud-opaque: rgba($fraud, 0.3);
$fraud-light: lighten($fraud, 10%);
$fraud-dark: darken($fraud, 10%);

$collusion: #009989;
$collusion-opaque: rgba($collusion, 0.3);
$collusion-light: lighten($collusion, 10%);
$collusion-dark: darken($collusion, 10%);

$embezzlement: #CE1836;
$embezzlement-opaque: rgba($embezzlement, 0.3);
$embezzlement-light: lighten($embezzlement, 10%);
$embezzlement-dark: darken($embezzlement, 10%);


// fonts
$sans: 'Open Sans', sans-serif;
$serif: 'Bitter', serif;

body {
  font-family: $sans;
  color: #4a4a4a;
  &.story-page {
    background-color: #e5e4e4;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  } 
}

h1, h2, h3, h4, h5 {
  font-family: $serif;
  color: #4a4a4a;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px #ccc;
  .navbar-brand {
    font-family: $serif;
  }
  li {
    border-bottom: 3px solid #ccc;
    a {
      font-weight: bold;
      font-size: 13px;
    }
    &.repeat-winners {
      border-bottom-color: $repeat-winners;
      &:hover {
        border-bottom-color: $repeat-winners-dark;
      }
    }
    &.fraud {
      border-bottom-color: $fraud;
      &:hover {
        border-bottom-color: $fraud-dark;
      }
    }
    &.collusion {
      border-bottom-color: $collusion;
      &:hover {
        border-bottom-color: $collusion-dark;
      }
    }
    &.embezzlement {
      border-bottom-color: $embezzlement;
      &:hover {
        border-bottom-color: $embezzlement-dark;
      }
    }
  }
}

.navbar-margin {
  margin-top: 53px;
}

@media (min-width: 992px) {
  .sidebar {
    position: absolute;
    padding: 10px 80px 0 30px;
    right: 0;
    width: 42%;
    height: calc(100vh - 53px);
    background-color: #fafafa;
    box-shadow: -3px 0px 2px -1px #bbb;
  }
}

#map {
	max-height: calc(100vh - 53px);
	max-width: 100vw;
}

.story {
  &.container {
    background-color: #fff;
  }
  .content {
    @media (min-width: 992px) {
      padding: 0 30px;
    }
    border-left: 3px solid;
    padding-bottom: 50px;
    &.repeat-winners {
      border-left-color: $repeat-winners;
    }
    &.fraud {
      border-left-color: $fraud;
    }
    &.collusion {
      border-left-color: $collusion;
    }
    &.embezzlement {
      border-left-color: $embezzlement;
    }
  }
  .links {
    .single-link {
      background-color: #f8f8f8;
      border-left: 2px solid #e5e4e4;
      padding: 4px 8px 8px 8px;
      margin-bottom: 16px;
    }
  }
  .page-share {
    margin-top: -5px;
    img {
      height: 13px;
      width: 13px;
    }
    a {
      color: #fff;
      font-family: $sans;
      font-size: 10px;
      font-weight: bold;
      line-height: 13px;
      padding: 4px 8px;
      text-decoration: none;
      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #1da1f2;
      }
    }
  }
  .iframe-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 15px 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  img {
    width: 100%;
  }
}

footer {
  background-color: #666;
  color: #fff;
  padding: 15px 0;
  font-size: 11px;
  a, h1, h2, h3, h4, h5 {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}