</div>

{% if page.layout == 'story' or page.layout == 'about' %}
<footer>
  <div class="container footer">
    <div class="row">
      <div class="col-md-4">
        <h5>Stories</h5>
        {% for story in site.stories %}
        <div class="{{ story.name }} {% if story.name == page.name %}active{% endif %}"><a href="{{ story.url }}">{{ story.title }}</a></div>
        {% endfor %}
      </div>
      <div class="col-md-4 contact">
        <h5>Contact</h5>
        <p>We welcome your feedback and ideas about other areas of this critical topic we should cover. Please get in touch with us at <a href="mailto:mail@gamingthelottery.com">mail@gamingthelottery.com</a></p>
      </div>
    </div>
  </div>
</footer>
{% endif %}