---
layout: base
---
<div class="container story {{ page.name }}">
  <div class="row {{ page.name }}">
    <div class="col-md-8 content {{ page.name }}">
      <h2 class="story-title {{ page.name }}">{{ page.title }}
        <div class="page-share pull-right" role="group">
          <a href="#" class="twitter"><img src="/img/twitter.svg"> Twitter</a>
          <a href="#" class="facebook"><img src="/img/facebook.svg"> Facebook</a>
        </div>
      </h2>
      <div class="{{ page.name }}">{{ content }}</div>
    </div>
    <div class="col-md-4 links">
      <h2>&nbsp;</h2>
  		{% for link in page.links %}
        <div class="single-link {{ page.name }}">
          <h4><a href="{{ link.url }}">{{ link.title }}</a></h4>
          {{ link.description }}
        </div>
  		{% endfor %}
    </div>
  </div>
</div>